<!DOCTYPE html>
<html lang="ko">
<head>
    <% include ./head %>
</head>
<body>
<header>
    <% include ./header %>
</header>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">공지 사항</h3>
    </div>
    <div class="panel-body">
        1. 상단 메뉴를 이용<br>
        2. 회원 추가/삭제 기능 추가<br>
        3. 팀 생성은 Team 메뉴 이용<br>
            - 용병 기능 추가<br>
            - 생성된 용병은 이름의 가나다 순으로 들어감<br>
    </div>
</div>

<footer>
    <% include ./footer %>
</footer>
</body>
</html>


